body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  height: 30px;
}

.weather {
  height: 320px;
  opacity: 0.95;
}

.weather-div {
  padding-top: 20px;
}

.red {
  background-color: rgb(158, 5, 5);
}

.name {
  margin-top: 10px;
}

.checkbox {
  margin-top: 2px;
}

#five-day {
  margin-top:10px;
}

.delete-me {
  margin-top: 10px;
}

.weather-icon {
  margin-left: 20px;
  height: 40px;
  width: 40px;
}

.forecast-group {
  margin-top: 13px;
}

.log-in-header {
  color: rgb(175, 7, 7);
  /* background-color: black; */
}

#login-form {
  margin-top: 13%;
}

.register-header {
  color: rgb(175, 7, 7);
}

#register-form {
  margin-top: 13%;
}